/build/classes/java/test/io/CatTest.class
/build/classes/java/test/io/DogTest.class
/build/classes/java/test/io/Sum.class
/build/reports/tests/test/classes/io.SumTest.html
/build/test-results/test/TEST-io.SumTest.xml
/.idea/
/build/
